*{
    font-size: 20px;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
}
.header{
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: rgba(166, 165, 165, 0.494);
    top: 0;
    margin: 0;
    position: relative;
}
.bar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.bar a{
    text-decoration: none;
    color: black;
}
.bar li:hover,a:hover{
    font-size: 1.0em;
    color: rgb(181, 134, 49) ;
}
.navbar{
    left: 50%;
    margin-left: 40%;
}
.logo{
    margin-top: 0.7em;
    color: rgb(181, 134, 49);
    font-size: 1em;
}
.welcome{
    background-color: rgba(113, 126, 200, 0.881);
    max-width: 400px;
    height: 150px;
    transform: translate(50%,50%);
    left: 50%;
    z-index: 9;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
    display: block;
    position: inherit;
}
.start-button{
    /*background:linear-gradient(120deg, 50% white,50% yellow);*/
    height: 30px;
    width: 120px;
    text-align: center;
    background-color: white;
    margin-left: 30%;
    margin-top: 1.2em;
    font-size: 16px;
    justify-content: center;
    padding-top: 1em;
    opacity: 0.7;
}
.start-button:hover{
    cursor: pointer;
    height: 40px;
    width: 150px;
    background-color: rgb(90, 189, 90);
    color: white;
    border-radius: 10px;
    opacity: 1;
}
.container{
    background-image: url(images/back3.jpg);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}
.media{
    height: 80px;
    width: 70px;
    display: none;
}
.media:hover{
    cursor: pointer;
}
.layer1,.layer2,.layer3{
    height: 5px;
    width: 40px;
    background-color: black;
    margin: 3px;
}
.sidebar{
    list-style-type: none;
    display: block;
}
.sidebar  a{
    list-style-type: none;
    text-decoration: none;
}
.side-menu{
    display:none;
    background-color: rgb(250, 250, 150);
    height: 100%;
}
.overlay{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: rgb(181, 181, 180);
    opacity: 0.5;
    transition: all 0.3s linear;
}
@media screen and (max-width:768px) {
    .start-button{
        width: 80px;
        height: 20px;
    }
    .start-button:hover{
        cursor: pointer;
        width: 100px;
        height: 30px;
    }
    .media{
        height: 100vh;
        width: 100%;
        display: block;
    }
    .welcome{
        width: 300px;
        height: 150px;
    }
    .bar{
        /*display: none;*/
        width: 150px;
        left: 10%;
    }
    .side-menu{
        top: 0;
        left: 0;
        display: block;
        position: fixed;
        z-index: 11;
        background-color: rgb(198, 212, 212);
        transition: 0.3s linear;
        transform: translate(-100%);
        overflow: hidden;
        height: 100vh;
        width: 100%;
    }
}