form{
    justify-content: center;
    height: 50vh;
    background-color: rgb(135, 192, 173);
    font-size: 16px;
    align-items: center;
    padding: 20% 0 0 30%;
}
input,label{
    margin: 20px;
    font-size: 1.3em;
}
button{
    background-color: rgb(44, 162, 44);
    padding: 10px;
    margin: 1.2em;
    width: 160px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    color: green;
    background-color: white;
    height: 80px;
}